{
    border: solid red 1px !important
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.header {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
}

.main {
  display: flex;
}

.categories {
  flex: 1;
  justify-content: center;
}

.categories ul {
  list-style: none
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
  align-items: center;
  width: 100%
}

.posts ul {
  list-style: none;
  padding-left: 0;
}

.post-headers {
    display: inline;
}

.post-headers li {
  display: inline;
  margin: 2em
}

.posts-summary {
  display: inline;
  margin: 1.5em;
}

form {
  margin-bottom: 22px;
  width: 80%;
}

input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.newpost label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.newpost input,
.newpost select,
.newpost textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.newpost input,
.newpost textarea {
  width: 97%;
}
.newpost select {
  height: 34px;
  width: 10em;
}
.newpost textarea {
  height: 78px;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
