{
    border: solid red 1px !important
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.header {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
}

.main {
  display: flex;
}

.categories {
  flex: 1;
  justify-content: center;
}

.categories ul {
  list-style: none
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
  align-items: center;
}

.posts ul {
  list-style: none;
  padding-left: 0;
}

.post-headers li {
  display: inline;
}
